<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-auth.js"></script> -->

    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/advisor.css') }}">
    <title>Advisor Webpage</title>
</head>

<body>

    <div id="main-content">
        <form id="form">
            <div>
                <label>Name:</label>
                <input type="text" id="name" class="white-text" placeholder="{{ data['name'] }}">
            </div>

            <div>
                <label>Degree:</label>
                <input type="text" id="degree" placeholder="{{ data['degree'] or '' }}">
            </div>

            <div>
                <label>Major:</label>
                <input type="text" id="major" placeholder="{{ data['major'] or '' }}">
            </div>

            <div>
                <label>Minor:</label>
                <input type="text" id="minor" placeholder="{{ data['minor'] or '' }}">
            </div>

            <div>
                <label>Year:</label>
                <input type="text" id="yearLevel" placeholder="{{ data['year_level'] or '' }}">
            </div>

            <div>
                <label>Contact:</label>
                <input type="text" id="contact" placeholder="{{ data['email'] }}">
            </div>

            <div>
                <label>Bio:</label>
                <input type="text" id="bio" placeholder="{{ data['bio'] or ''}}">
            </div>

            <div>
                <label>calendly link:</label>
                <input type="text" id="calendly_link" placeholder="{{ data['calendly_link'] or ''}}">
            </div>

            <div>
                <button type="edit" id="edit">Edit</button>
            </div>

            <!-- Calendly inline widget begin -->
                    <div class="calendly-inline-widget" style="height: 500px;"
                data-url="{{ data['calendly_link'] or ''}}"             ></div>
                    
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                    <!-- Calendly inline widget end -->

            <div>
                <label>Appointments</label>
            </div>

            <div>
                <label>Upcoming:</label>
            </div>

            <div>
                <label>History:</label>
            </div>

            <div class="sidebar">
                <div class="flex-container" style="display: flex; align-items: center;">
                    <label>peerAdvise</label>
                    <label>Advisor</label>
                </div>
                <a href="connectAdvisor">Appointments</a>
                <a href="/">Log Out</a>
            </div>
        </form>

        <script>
    // // Get the form and the submit button
    // var form = document.getElementById("form");
    // var submit = document.getElementById("submit");

    // // Initialize Firebase
    // var firebaseConfig = {
    //     // your configuration here
    // };

    // firebase.initializeApp(firebaseConfig);
    // var db = firebase.firestore();

    // // Listen for the form's submit event
    // form.addEventListener("submit", function (e) {
    //     e.preventDefault();

    //     // Get the user's input
    //     var name = document.getElementById("name").value;
    //     var email = document.getElementById("email").value;
    //     var yearLevel = document.getElementById("yearLevel").value;
    //     var studentId = document.getElementById("studentId").value;

    //     // Get the current user
    //     var user = firebase.auth().currentUser;

    //     if (user) {
    //         // Save the user's information to Firestore
    //         db.collection("users").doc(user.uid).set({
    //             name: name,
    //             email: email,
    //             yearLevel: yearLevel,
    //             studentId: studentId
    //         }).then(function () {
    //             console.log("User information saved!");
    //         }).catch(function (error) {
    //             console.error("Error saving user information: ", error);
    //         });
    //     } else {
    //         // The user is not signed in, redirect to the login page
    //         window.location.href = "index.html";
    //     }
    // });
        </script>
</body>

</html>