<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-auth.js"></script> -->

    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/advisor.css') }}">
    <title>Student Appointment Webpage</title>
</head>

<body>

    <div id="main-content">
        <form id="form">
            <div>
                <label>Appointments</label>
            </div>

            <div>
                <label>Upcoming:</label>
            </div>

            <div>
                <label>History:</label>
            </div>

            <div class="sidebar">
                <div class="flex-container" style="display: flex; align-items: center;">
                    <label>peerAdvise</label>
                    <label>Student</label>
                </div>
                <a href="student">Home</a>
                <a href="connectStudent">Connect</a>
                <a href="/">Log Out</a>
            </div>
        </form>

</body>

</html>