body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Times New Roman", Times, serif;

}

h2,
h3 {
    font-weight: bold;

}


p {
    color: #2b2828;
}

/* Headings */

.big-heading {
    font-family: "Montserrat", "sans-serif";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}


.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;

}


.container-fluid {
    padding: 3% 15% 7%;
}



/* navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2.70rem;
    font-family: "Ubuntu";
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;


}

.navbar-nav {}

/* buttons */
.nav-button {
    margin: 5% 3% 5% 0;
}

.title-imgage {
    /* transform: rotate(25deg); */
    /* width: 380px;
  /* margin: 20px 0 0 -10px; */
    width: 95%;
    /* margin-left: 80%; */
    /* margin-right: 0; */
    /* margin-top: 80px; */
    margin-bottom: 0;
    /* position: absolute; */
    /* right: -10%;
  height: auto; */
    /* bottom: 200%; */
    /* right: 1%;
  top: 22%; */
    /* margin-right: -10px; */



    /* transform: rotate(25deg); */

}

/* features */
#features {
    padding: 7% 15%;
    font-family: "Montserrat";
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {

    padding: 5%;
}

.features_icon {
    /* font-size: 50px; */
    color: #ef8172;
    margin-bottom: 1rem;
}

.features_icon:hover {
    color: #ff4c68;
}

.feature-title {
    font-size: 1.5rem;
}


/* testimonials */

#testimonials {

    background-color: #ef8172;
    color: #fff;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;

    padding-bottom: 3%;
}

.pres-logos {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* prcining section */
#pricing {
    padding: 100px;

}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 991.5px) {

    #title {
        text-align: center;
    }

    .title-imgage {
        position: static;
        width: 65%;
        height: auto;
        margin-bottom: -20%;
    }

}

#cta {
    background-color: #ff4c68;

    color: #fff;

    padding: 100px;
}

.cta-btn {
    margin: 70px 20px 20px;
}

.cta-heading {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

.pink {
    color: #ff4c68;
}

.footer {
    position: absolute;
    bottom: 0;
}