<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-auth.js"></script>

    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/advisor.css') }}">
    <title>Student Webpage</title>
</head>

<body>
    <div id="main-content">
        <form id="form" action="/editstudent" method="post">
            <input type="text" id="uid" name="uid" class="white-text" value="{{ data['uid'] }}" hidden>
            <div>
                <label>Name:</label>
                <input type="text" id="name" name="name" class="white-text" value="{{ data['name'] }}">
            </div>

            <div>
                <label>Degree:</label>
                <input type="text" id="degree" name="degree" value="{{ data['degree'] or '' }}">
            </div>

            <div>
                <label>Major:</label>
                <input type=" text" id="major" name="major" value="{{ data['major'] or '' }}">
            </div>

            <div>
                <label>Minor:</label>
                <input type="text" id="minor" name="minor" value="{{ data['minor'] or '' }}">
            </div>

            <div>
                <label>Year:</label>
                <input type="number" id="year_level" name="year_level" value="{{ data['year_level'] or 0 }}" min="0"
                    max="4">
            </div>

            <div>
                <label>Email:</label>
                <input type="text" id="email" name="email" value="{{ data['email'] or '' }}">
            </div>

            <div>
                <button type="submit" id="save">Save</button>
            </div>
        </form>

        <div class="sidebar">
            <div class="flex-container" style="display: flex; align-items: center;">
                <label>peerAdvise</label>
                <label>Student</label>
            </div>
            <a href="connectStudent">Connect</a>
            <a href="appointmentStudent">Appointments</a>
            <a href="/">Log Out</a>
        </div>
    </div>




    <!-- <script>
        // Get the form and the submit button
        var form = document.getElementById("form");
        var submit = document.getElementById("submit");

        // Initialize Firebase
        var firebaseConfig = {
            // your configuration here
        };

        firebase.initializeApp(firebaseConfig);
        var db = firebase.firestore();

        // Listen for the form's submit event
        form.addEventListener("submit", function (e) {
            e.preventDefault();

            // Get the user's input
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var yearLevel = document.getElementById("yearLevel").value;
            var studentId = document.getElementById("studentId").value;

            // Get the current user
            var user = firebase.auth().currentUser;

            if (user) {
                // Save the user's information to Firestore
                db.collection("users").doc(user.uid).set({
                    name: name,
                    email: email,
                    yearLevel: yearLevel,
                    studentId: studentId
                }).then(function () {
                    console.log("User information saved!");
                }).catch(function (error) {
                    console.error("Error saving user information: ", error);
                });
            } else {
                // The user is not signed in, redirect to the login page
                window.location.href = "index.html";
            }
        });
    </script> -->
</body>

</html>