#form {
    display: grid;
    padding: 20px;
}

#main-content {
    position: relative;
    margin-left: 250px;
    /* Adjust this value to match the width of your sidebar */
    font-family: "Montserrat", "sans-serif";
}

#form div {
    margin-bottom: 20px;
}

#form label {
    text-align: right;
    width: 120px;
    /* adjust this value as needed */
    font-size: 1.2em;
    display: inline-block;
    /* this will make the label display on one line */
}

#form input {
    width: 180px;
    /* adjust this value as needed */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    /* adjust this value as needed */
}

#form input:focus {
    border-color: #6b4caf;
}

#form button {
    background-color: #6b4caf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#form button:hover {
    background-color: #4caf50;
}

body {
    background-color: #fafbff;
}

label {
    font-weight: bold;
    padding: 20px;
    color: rgb(0, 0, 0);
}

input[type="text"]:hover,
input[type="email"]:hover {
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
}

.sidebar {
    position: fixed;
    /* This will make the sidebar stay in place even when the user scrolls */
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    /* Adjust this to control the width of the sidebar */
    background-color: #ff4c68;
    padding: 20px;
    font-family: "Montserrat", "sans-serif";
}

.sidebar a {
    color: #fff;
    /* This will change the color of the links in the sidebar to white */
    text-decoration: none;
    /* This will remove the underline from the links in the sidebar */
    display: block;
    /* This will make the links take up the full width of their container */
    padding: 10px 0;
    /* This will add some padding to the top and bottom of the links */
    text-align: center;
    /* This will center the text within the links */
    font-family: sans-serif;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.375);
    /* This will change the background color of the links when hovered over */
    color: #1e79a0;
    /* This will change the color of the text when hovered over */
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* this will make the flex items vertical */
}